.jumbotron {
    margin: 100px 200px 0px 200px;
    background-color: rgb(54, 208, 247);
    color: purple;
}
body {
    background-image: url("../images/sports/Sports.png");
}
.btn {
    background-color: purple;
    color: rgb(54, 208, 247);
    margin: 40px 0px 0px 510px;
}
#img {
    height: 300px;
    width: 400px;
    margin: 25px 0px 0px 350px;
}
#title {
    text-align: center;
    padding-left: 410px;
    font-weight: bold;
    font-size: 3em;
    
}
.question {
    font-size: 2em;
    font-weight: bold;
}
.done {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    padding-left: 465px;
    margin-top: 50px;
}
.correct {
    font-weight: bold;
    margin: 50px 0px 0px 430px;
    font-size: 1.75em;
}
.wrong {
    font-weight: bold;
    margin-left: 430px;
    font-size: 1.75em;
    margin-bottom: 0px;
}
.unans {
    font-weight: bold;
    margin-left: 430px;
    font-size: 1.75em;
}

